.proyectos{
    margin: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    overflow-x: hidden;

    h1{
        color: white;
    }

    .texto_p{
 /*        max-width: 40%; */

        h2{
            font-family: 'Raleway', sans-serif;
            color: white;
            font-size: 2.5rem;
            padding-bottom: 2rem;
        }

        p{
            font-family: 'Varela Round', sans-serif;
            color: whitesmoke;
            font-size: 1.2rem;
            padding-bottom: 15px;
        }

        .tecnologias{
            color: #a2a2a2;
            font-family: 'Varela Round', sans-serif;
        }
        .links_p{
            padding-top: 15px;
            display: flex;
            gap: 1.2rem;

            i{
                font-size: 3rem;
                color: #33383e;
            }

            .demo_p{
                background-color: #33383e;
                font-family: 'Varela Round', sans-serif;
                padding: 15px;
                border-radius: 10px;
                color: white;
            }

        }    
    }
    //#1e2125

    .img_p{
        max-width: 50%;
    }

    img{
        border-radius: 10px;
        width: 100%;

    }

    //Antara - último proyecto

    .div_p{
        border-radius: 30px;
        display: flex;
        gap: 3rem;
        padding: 19px;
        align-items: center;
        justify-content: center;
        transition: 250ms;

        
    }

    .div_p:hover{
        box-shadow: 1px -1px 25px 0px rgba(0,0,0,0.55);
        -webkit-box-shadow: 1px -1px 25px 0px rgba(0,0,0,0.55);
    }
};


@media only screen and (max-width: 768px) {
    .proyectos {
        flex-direction: column;
        
        .div_p{
            width: 100%;
        }
        
    }

}

@media only screen and (min-width: 1901px) {
    .sub_t{
        font-size: 4rem;
    };


    .proyectos{
    .texto_p h2 {
        font-size: 4rem;
        };

    .texto_p p {
        font-size: 2.5rem;
        width: 60%;
        };

    .texto_p .tecnologias {
        font-size: 2rem;
        padding-bottom: 20px;
        };

    .texto_p .links_p i {
        font-size: 4rem;
        };

    .texto_p .links_p .demo_p {
        padding: 15px 26px;
        font-size: 1.6rem;
    }    
    };
};


@media only screen and (max-width: 481px) {
    
    .proyectos{

        .texto_p{
            width: 100%;
        }

        .div_p{
        display: flex;
        flex-direction: column;
        width: 100%;

        } 
        
        .img_p{
            max-width: 100%;
        }

        .links_p {
            justify-content: center;
        }
    }
    


}